/* CMS Desk Styles */

.EditMode {
	.contact-header {
		color: black;
	}
	#nav-wrapper.stick {
		display: none;
	}
}

.DesignMode {
#my-menu {
	display:block !important; 
	z-index:999999 !important; 
	left:0px !important; 
	height:30% !important;
	}
} 
