/* Master */

// Images 
.image {
	img {max-width: 100%;}
}


// Links
a {
	color: $gold;
	&:hover {
		color: $steel-blue;
		text-decoration: none;
	}
}


// Header
header {
	background: black;
	border-bottom: 2px solid #D2D2D2;
	#site-logo {
		padding: 10px 0;
		@include breakpoint(small) {
			padding: 25px 0 25px 15px;
		}
		img {
			height: 55px;
			@include breakpoint(small) {
				height: auto;
			}
		}
		a:hover {
			opacity: 0.8;
		}
	}
}


// Sticky Header 
#nav-wrapper.stick {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	-webkit-transform: translateZ(0);
	z-index: 100000;
	background: rgba(0,0,0,0.8);
	margin: 0;
	.inner-wrapper ul#menuElem {
		margin-top: 0;
	}
	#sticky-utility-nav {
    display: block;
    float: left;
	}
}

#sticky-utility-nav {
  display: none;
  ul.utility-nav-list {
  	list-style: none;
	  margin: 0;
	  padding: 0;
	  float: left;
	  overflow: hidden;
	  li {
	  	float: left;
	  	padding: 20px 7px 20px;
	  }
	  a {
		  color: rgba(255,255,255,0.5);
		  line-height: 18px;
		  &:hover {
		  	color: $gold;
		  	text-decoration: none;
		  }
	  }
		li a:before {
			font-family: 'FontAwesome';
			padding: 0 2px 0 0;
			font-size: 16px;
		}
		li:nth-child(1) a {
			font-size: 20px;
			position: relative;
			top: -1px;
		}
		li:nth-child(2) a:before {
			content: "\f0f7";
			font-size: 17px;
		}			
		li:nth-child(3) a:before {
			content: "\f073";
		}
		li:nth-child(4) a:before {
			content: "\f10b";
			font-size: 22px;
			position: relative;
			top: 1px;
		}
		li:nth-child(5) a:before {
			content: "\f075";
			position: relative;
			top: -1px;
			font-size: 18px;
		}
		li:nth-child(6) a {
			font-size: 19px;
			position: relative;
			top: -1px;
		}
	}
	ul#sticky-social {
		float: left;
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			border: none;
			margin: 0;
			float: left;
			padding: 20px 7px 20px;
			a {
				display: list-item;
				font-size: 19px;
				color: rgba(255,255,255,0.5);
				line-height: 18px;
				&:hover {
					color: $gold;
				}
			}
		}
	}
}


// Buttons 
.button,
.SubmitButton {
	background: $gold;
	display: inline-block;
	margin: 10px 0;
	border: 0;
	padding: 8px 20px;
	text-transform: uppercase;
	font-family:'Avenir W01', sans-serif;
	font-size: 15px;
	font-weight: 900;
	color: white;
	&:hover {
		@extend %button-over;
	}
}


// Footer
#footer-wrapper {
	background: #000;
	color: #fff;
	padding: 25px 0 10px;
	font-family: 'Avenir W01', sans-serif;
	font-weight: 300;
	:before {
		color: $gold;
		display: inline-block;
		width: 30px;
		@include breakpoint(small) {
			width: auto;
		}
	}
}


// Footer Contact Info
#footer-wrapper {
	.contact-header {
		font-family:'Avenir W01', sans-serif;
		font-size: 16px;
		font-weight: 900;
		line-height: 26px;
		margin-bottom: 5px;
		@include breakpoint(small) {
			font-size: 26px;
		}
	}
	.OfficeAddress,
	.OfficePhone,
	.OfficeEmail {
		line-height: 25px;
		clear: left;
		@include breakpoint(small) {
			clear: none;
			float: left;
		}
	}
	.OfficeAddress,
	.OfficePhone {
		margin-right: 15px;
	}				
	.OfficeAddress,
	.OfficePhone,
	.OfficeFax {
		font-size: 11px;
		font-weight: normal;
		@include breakpoint(large) {
			font-size: 13px;
		}
	}
	.OfficeAddress {
		&:before {
			content: "\f041";
			font-family: "FontAwesome";
			font-size: 20px;
			position: relative;
			top: 2px;
			margin-right: 5px;
		}
	}
	.OfficePhone {
		&:before {
			content: "\f095";
			font-family: "FontAwesome";
			font-size: 18px;
			position: relative;
			top: 2px;
			margin-right: 5px;
		}
	}
	.OfficeFax {
		&:hover {
			text-decoration: none;
		}
		&:before {
			content: "\f1ac";
			font-family: "FontAwesome";
			font-size: 16px;
			margin-right: 5px;
		}
	}
}


// Footer Social Media
ul#footerSocial {
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 20px;
	@include breakpoint(small) {
		font-size: 30px;
		float: right;		
	}
	li {
		@include breakpoint(small) {
			float: left;
			margin: 0 0 0 20px;
			opacity: 0.6;
			&:hover {
				opacity: 1;
			}
		}
	}
	.fa-linkedin-square:after {
    color: #fff;
    content: "LinkedIn";
    font-family: 'Avenir W01', sans-serif;
    font-size: 11px;
    margin-left: 5px;
    @include breakpoint(small) {
    	display: none;
    }
	}

	.fa-twitter-square:after {
    color: #fff;
    content: "Twitter";
    font-family: 'Avenir W01', sans-serif;
    font-size: 11px;
    margin-left: 5px;
    @include breakpoint(small) {
    	display: none;
    }
	}
}

#footer-wrapper {
	.email {
		float: left;
		cursor: pointer;
		@include breakpoint(small) {
			float: right;
			opacity: 0.6;
		}
		a {
			color: #fff;
			font-size: 11px;
			position: relative;
			text-decoration: none;
			top: -5px;
			@include breakpoint(small) {
				color: $gold;
				font-size: 14px;
				top: -7px;
			}
		}
		&:before {
			content: "\f0e0";
			font-family: 'FontAwesome';
			font-size: 20px;
			position: relative;
			top: -2px;
			margin-right: 5px;
			@include breakpoint(small) {
				font-size: 30px;
			}
		}
		&:hover {
			opacity: 1;
		}
	}
}


// Site Map Open/Close
#openClose {
	text-align: center;	
	cursor: pointer;
	&:before,
	&:after {
		content: "";
		border-top: 1px solid #323232;
		position: absolute;
		top: 9px;
		width: 44%;
	}
	&:before {
		left: 0;
	}
	&:after {
		right: 0;
	}
}


// Copyright
.copyright {
	font-family: 'Avenir W01', sans-serif;
	font-size: 14px;
	font-weight: 900;
	text-align: center;
	padding: 15px 0;
}


// Site Map
#sitemap-wrapper {
	background: black;
	.sitemap {
		display:none; 
		margin: 45px 0 30px;
		ul {
			margin: 5px 0 0; 
			padding: 0; 
			list-style: none; 
			text-align: left;
			li {
				width: 17%;
				margin: 0 3% 0 0;
				float: left;
				a {
					color:#ffffff; 
					font-size:15px; 
					font-family: 'Avenir W01', sans-serif;
					&:hover {
						color:#afb0b1; 
						text-decoration: none;
					}
				}
				> a {
					font-weight: 900;
				}
				ul {
					li {
						float: none; 
						width: 100%; 
						padding: 5px 0;
						a {
							color:#afb0b1; 
							font-size:12px; 
							text-transform: none;
							&:hover {
								color: #ffffff;
								text-decoration: none;
							}
						}
					}
				}
			}
		}
	}
}